:root {
    --primary: #ef4a1d;
    --primary-hover: #b5320d;
    --primary-fade: #ffac95;
    --secondary: #132235;
    --tertiary: #d2f3ff;
    --text: #1b232e;
    --overlay: #e4e4e4;
    --bg: #eeeeee;
  }
* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  min-height: 100vh;
}
.icon {
    width: 2rem;
    transition: 250ms ease;
}
.icon:hover {
  transform: scale(0.95);
}
a {
  text-decoration: none;
}
header {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  background-color: var(--secondary);
  color: var(--bg);
}
#headerLogo {
  transition: transform 0.3s ease;
}
#headerLogo:hover {
  transform: scale(1.1);
}
.currentPage {
  font-weight: bold;
  text-decoration: underline;
}
nav {
  display: block;
  width: 100%;
}
ul {
  display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 10%;
}
ul a {
  color: var(--bg);
}
ul a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}
h4, h5, h6, p {
  font-size: 1.3rem;
}
h1,h2,h3,h4,h5,h6 {
  color: var(--text);
  margin-bottom: 1rem;
}
p {
  color: var(--text);
  margin-bottom: 2rem;
}
.pros {
  margin-bottom: 1rem;
}
.CTA, button {
  background-color: var(--primary);
  border: none;
  padding: 1rem;
  text-transform: uppercase;
  color: var(--bg);
  border-radius: 5px;
  transition: 250ms ease;
}
.CTA:hover, button:hover {
  background-color: var(--primary-hover);
  color: var(--overlay);
  transform: scale(0.95);
  cursor: pointer;
}

.CTA-secondary {
  background-color: var(--secondary);
  color: var(--bg);
  border-radius: 5px;
  border: none;
  padding: 1rem;
  text-transform: uppercase;
  transition: 250ms ease;
  width: fit-content;
}
.CTA-secondary:hover {
  background-color: var(--text);
  color: var(--overlay);
  transform: scale(0.95);
}
.banner {
  background-color: var(--overlay);
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
.banner p {
  margin-bottom: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#courses {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.course-card {
  background-color: var(--overlay);
    width: 30%;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}
.courseForm {
  background-color: var(--overlay);
  padding: 2rem;
  flex-direction: column;
  display: flex;
  align-items: start;
  border-radius: 5px;
  width: 35rem;
}
.courseForm input[type="text"], .courseForm input[type="number"], .courseForm textarea  {
  width: 100%;
  border-radius: 5px;
}
.courseForm input[type="file"] {
  background: none;
}
.formRadio {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--secondary);
  padding: 4rem 0 4rem 0;
}
footer h3, footer p {
  color: var(--bg);
}
footer a {
  color: var(--primary);
  transition: 250ms ease;
}
footer a:hover {
  color: var(--primary-fade);
}

.info {
  text-align: center;
  margin: 5rem 0 5rem 0;
  padding: 0 25% 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info p {
  margin-bottom: 3rem;
}
.hamburger-menu-icon {
  display: none;
}
.hero {
  background-image: url(/img/banner.png);
  background-size: cover;
  background-position: center;
  padding: 10rem 0 10rem 3rem;
  height: 25%;
}
.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.heroContent .CTA {
  width: fit-content;
}
.course-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courseCard {
  display: flex;
  width: 75%;
  padding: 1rem;
  margin: 1.5rem 0 1.5rem 0;
  background-color: var(--overlay);
  border-radius: 5px;
}
.courseImg {
  max-width: 35%;
  max-height: 300px;
  object-fit: cover;
}
.courseCardInfo {
  padding: 1rem;
  width: 100%;
}
.courseCardInfo button {
  width: fit-content;
}
.orderForm {
  display: flex;
  flex-direction: column;
}
.orderForm input, textarea{
  border: none;
  background-color: var(--bg);
  margin: 0.5rem 0 0.5rem 0;
  height: 2rem;
}

textarea {
  resize: vertical;
}
#contactForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
  background-color: var(--overlay);
  border-radius: 5px;
}
input, textarea {
  border: none;
  background-color: var(--bg);
  margin: 0.5rem 0 0.5rem 0;
  height: 2rem;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.login {
  background-color: var(--overlay);
  border-radius: 5px;

}
.loginInfo {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30rem;
}
.loginInfo input {
  width: 100%;
}
.register {
  display: flex;
  flex-direction: row;
}
.requirements {
  display: flex;
  flex-direction: column;
}
.requirementsContainer {
  margin: 2rem 0 0 0;
}
.notFound {
  min-height: 50vh;
  display: flex;
  justify-content: center;
}
.itemContainer {
  background-color: var(--overlay);
  border-radius: 5px;
}
.courseEntry {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr; 
  align-items: center;
  border-top: 5px solid var(--bg);
}
.courseEntry p {
  text-align: left;
  margin-bottom: 0;
}
.courseEntryTitle {
  padding: 1rem;
}
.title {
  text-transform: capitalize;
}
.trash {
  background: none;
}
.trash:hover {
  background: none;
}
.editButton {
  padding: 1rem;
  border-radius: 5px;
  transition: 250ms ease;
}
.editButton:hover {
  transform: scale(0.95);
  cursor: pointer;
}
.addItem {
  margin: 1rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.addItem p {
  margin: 0;
}
.logout {
  justify-content: end;
}
.logoutLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.secondaryButton {
  background-color: var(--bg);
  color: var(--secondary);
}
.secondaryButton:hover {
  background-color: var(--primary-fade);
  color: var(--secondary);
}

.active {
  display: block !important;
}
.mobile-ul {
  background-color:var(--secondary);
    width: 70%;
    position: absolute;
    right: 0;
    border-radius: 5px;
    padding: 2rem 0 2rem 0;
    font-size: 1.2rem;
}
.mobile-ul li {
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-top: 1px solid black;
}
@media only screen and (max-width: 800px) {

  header {
    justify-content: space-between;
  }
  .info {
    margin: 3rem 0 2rem 0;
    padding: 0 5% 0 5%;
  }
  #courses {
    gap: 2rem;
  }
  .course-card {
    width: 45%;
  }
  ul {
    flex-direction: column; /* Display menu items vertically */
    gap: 1rem; /* Add some space between menu items */
  }
  footer {
    display: grid;
    padding: 2rem 1rem 2rem 1rem;
    grid-template-columns: 1fr 3fr 3fr 2fr 2fr;
  }
  .hamburger-menu-icon {
    display: block; /* Display the hamburger menu icon */
    width: 30px; /* Adjust the width of the icon */
    height: auto; /* Allow the height to adjust proportionally */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .main-nav {
    display: none; /* Hide main nav for small screens */
  }
  .mobile-nav {
    display: block; /* Show mobile nav when active class is present */
  }
  .footerLogo {
    display: none;
  }
  footer {
    display: grid;
    padding: 2rem 2rem 0rem 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
  #contactForm {
    width: 80%;
  }
  .logout {
    flex-direction: row;
  }
}
@media only screen and (max-width: 480px) {
  /* Your CSS styles for mobile phones go here */
}