<footer>
    <div><img src="/img/logo_white.svg" alt=""></div>
    <div>
        <h3>Kontakt os</h3>
        <p>virksomhed@gmail.com <br> +45 12 34 56 78</p>
    </div>
    <div>
        <h3>Find os</h3>
        <p>Virksomheds Addresse <br> Virksomheds Addresse</p>
    </div>
    <div>
        <h3>Kurser til erhverv</h3>
        <p><a href="/erhverv">Se kurser →</a></p>
    </div>
    <div>
        <h3>Kurser til private</h3>
        <p><a href="/privat">Se kurser →</a></p>
    </div>
</footer>