<header>
    <a href="/"><img src="/img/logo_black.svg" alt=""></a> 
    <nav>
        <ul>
            <li><a href="/erhverv">Erhverv</a></li>
            <li><a href="/privat">Privat</a></li>
            <li><a href="/om">Om os</a></li>
            <li><a href="/kontakt">Kontakt os</a></li>
        </ul>
    </nav>
</header>