<header>
    <a id="headerLogo" class="icon" href="/"><img src="/img/logo_white.svg" alt=""></a> 
    <nav class="main-nav">
      <ul>
        <li><a class="<%= typeof currentPage !== 'undefined' && currentPage === 'erhverv' ? 'currentPage' : '' %>" href="/erhverv">Erhverv</a></li>
        <li><a class="<%= typeof currentPage !== 'undefined' && currentPage === 'privat' ? 'currentPage' : '' %>" href="/privat">Privat</a></li>
        <li><a class="<%= typeof currentPage !== 'undefined' && currentPage === 'om' ? 'currentPage' : '' %>" href="/om">Om os</a></li>
        <li><a class="<%= typeof currentPage !== 'undefined' && currentPage === 'kontakt' ? 'currentPage' : '' %>" href="/kontakt">Kontakt</a></li>
    </ul>
    </nav>
    <img class="hamburger-menu-icon icon" src="/img/bars-solid.svg" alt="Menu" onclick="toggleMenu()">
</header>
<div class="mobile-nav">
  <nav class="mobile-ul">
    <ul>
      <li><a href="/erhverv">Erhverv</a></li>
      <li><a href="/privat">Privat</a></li>
      <li><a href="/om">Om os</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </nav>
</div>
<script>
  function toggleMenu() {
  const nav = document.querySelector('.mobile-nav');
  nav.classList.toggle('active');
}

    function toggleMainNav() {
      const mainNav = document.querySelector('.main-nav');
      const mobileNav = document.querySelector('.mobile-nav');
      const isLargeScreen = window.innerWidth > 800;

      if (isLargeScreen) {
        mainNav.style.display = 'block';
        mobileNav.style.display = 'none';
        mobileNav.classList.remove('active');
      } else {
        mainNav.style.display = 'none';
        mobileNav.style.display = 'none';
      }
    }

    window.addEventListener('load', toggleMainNav);
    window.addEventListener('resize', toggleMainNav);

</script>