<div>
    <!--In a future build, this will hold instructor images-->
    <div><img src="" alt=""></div> 
    <div>
        <p><%= instructor.name %></p>
        <p><%= instructor.description %>
    </div>
</div>
