<div>
    <!--fix this later to be the picture from the database-->
    <div><img src="" alt=""></div> 
    <div>
        <p><%= instructor.name %></p>
        <p><%= instructor.description %>
    </div>
</div>
