<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<%- include('header') %>
<h1>Kontakt os</h1>
<p>Kontakt os gerne for et uforpligtende tilbud samt skræddersyet tilbud til netop din virksomhed/situation.</p>
<%- include('kontaktFormular') %>
<%- include('footer') %>
</body>
</html>