<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om os</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<%- include('header') %>
<div>
    <h1>Om os</h1>
    <p>Lær mere om vores erfaring og mission her.</p>
</div>
<h2>Hvem er vi?</h2>
<p>Vi er PulsSikker, hvor vores passion for førstehjælp driver os til at levere professionel træning og skabe en tryg og sikker hverdag for alle.</p>
<h2>Mød dine instruktører</h2>
<div>
    <% instructors.forEach(function(instructor) { %>
        <%- include('instructorCard', { instructor: instructor }) %>
    <% }); %>
</div>
<%- include('footer') %>
</body>
</html>