<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om os</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/logo_primary.svg" type="image/svg+xml">
</head>
<body>
    <%- include('header', {currentPage: currentPage}) %>
<section class="hero">
    <div class="heroContent">
        <h1>Om os</h1>
        <p>Lær mere om vores erfaring og mission her.</p>
    </div>
</section>
<section class="info">
    <h2>Hvem er vi?</h2>
    <p>Vi er PulsSikker, hvor vores passion for førstehjælp driver os til at levere professionel træning og skabe en tryg og sikker hverdag for alle.</p>
</section>
<section class="info">
<h2>Mød dine instruktører</h2>
    <div>
        <% instructors.forEach(function(instructor) { %>
            <%- include('instructorCard', { instructor: instructor }) %>
        <% }); %>
    </div>
</section>
<%- include('footer') %>
</body>
</html>