<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privat</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/logo_primary.svg" type="image/svg+xml">
</head>
<body>
    <%- include('header', {currentPage: currentPage}) %>
<section class="hero">
    <div class="heroContent">
        <h1>Kurser til private</h1>
        <p>Professionelle førstehjælpskurser til private.</p>
    </div>
</section>
<div class="course-list">
    <% courses.forEach(function(course) { %>
        <%- include('courseCard', { course: course }) %>
    <% }); %>
</div>
<%- include('footer') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"></script>
</body>
</html>