<!DOCTYPE html>
<html>
<head>
    <title>Registrer</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>registrer Page</h1>
    <% if (errorMessage) { %>
        <p style="color: red;"><%= errorMessage %></p>
    <% } %>
    
    <form action="/registrer" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Intast Email" autocomplete="off" required>
        </div>
        <div>
            <label for="name">Brugernavn:</label>
            <input type="text" name="username" placeholder="Intast Brugernavn" required>
        </div>
        <div>
            <label for="password">Adgangskode:</label>
            <input type="password" name="password" placeholder="Intast Password" required>
        </div>
        <div>
            <label for="repeatPassword">Gentag Adgangskode:</label>
            <input type="password" name="repeatPassword" placeholder="Gentag Password" required>
        </div>
        <button type="submit">Registrer</button>
    </form>
</body>
</html>