<!DOCTYPE html>
<html>
<head>
    <title>signup - admin</title>
    <meta charset="utf-8" />
</head>
<body>
    <form id="registrer-form" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="createEmail" name="email" required>
        </div>
        <div>
            <label for="username">Brugernavn:</label>
            <input type="text" id="createUsername" name="username" required>
        </div>
        <div>
            <label for="password">Adgangskode:</label>
            <input type="password" id="createPassword" name="password" required>
        </div>
        <div>
            <label for="password">Gentag Adgangskode:</label>
            <input type="password" id="repeatPassword" name="password" required>
        </div>
        <button type="submit">Registrer</button>
    </form>
</body>
</html>